{%extends 'base.html'%} {% load static %} {% load bootstrap4 %} {% block content %}

<!-- {{message}} -->
<div class="projects" style="margin-top:120px;">

  <div class="container">
    <div class="row">
        {% for project in projects %}
      <div class="col-sm-12 col-md-6 col-lg-4">

    <div class="card" style="height:500px;margin-bottom:10px;">
      <div class="card-body">
        <!-- <a href="{{project.link}}"> -->
          <a href="{% url 'projectdetails' id=project.id %}">

            <img class="card-img-top mb-10" src="{{project.image.url}}" style="height:260px;width:100%;">
          </a>

        <!-- </a> -->
          <a href="{% url 'review' project_id=project.id%}" class="btn btn-info btn-block" style="margin-top:4px;border-radius:20%;">Rate</a>
      </div>
      <div class="card-body">
        <div class="card-text">
          <!-- <a href="{% url 'review' project_id=project.id%}" class="btn btn-info btn-block">Rate</a> -->
        </div>
      </div>
    </div>

      </div>
      <!-- {% for project in projects %}
      <img src="{{project.image.url}}"> {{project.title}} <br> {{project.description | safe}} <br>


      <a href="{{project.link}}" target="_blank">Site</a>
      <br>


      <br>
      <br> {% endfor %} -->
      <!-- <div class="col-md-3"></div> -->
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
