{%extends 'base.html'%} {% block content %}

<div class="container">
  <div class="row">
    <!-- <div class="projectimage" style='background-image:url("{{project.image.url}}")'> -->
    <!--  -->

    <img src="{{project.image.url}}" alt="" style="width:100%;height:600px;">
  </div <div class="row">
  <!-- <div class="projectimage" style='background-image:url("{{project.image.url}}")'> -->
  <!--  -->
  <p>
    <a href="{% url 'review' project_id=project.id%}" class="btn btn-info btn-block" style="margin-top:4px;border-radius:20%;">Rate</a>

  </p>
  <p>
    <b>Posted:</b> {{project.timestamp | timesince }} ago
  </p>
  <p>
    <b>Title:</b> {{project.title}}
  </p>
  <p>
    Description:
    <!-- <b>Description:</b> {{project.description}} -->
    {% autoescape off %}
    {{ project.description  }}
{% endautoescape %}
  </p>
  <p>
      <h1>  RATINGS </h1>
      {{project.avg_design |floatformat}}
      {{project.avg_usability |floatformat}}
      {{project.avg_content |floatformat}} <br>

    {% for review in reviews %}
    {% if project.id == review.project.id %}
  <b>{{review.user.username}}</b>

    {{review.design}}
    {{review.usability}}

    {{review.content}}
    ((
    {{int(review.design)/3} +
    {{review.usability}} +
    {{review.content}}


    )/3)
<br>
    {%endif%}
    {% endfor  %}

  </p>
</div </div>




{% endblock %}
